.card > img{
    width: 100%;
    object-fit: contain;
}

.card:hover{
    transform: scale(1.08);
}

.card{
    width: 300px;
    padding: 10px;
    font-family: arial;
    justify-content: left;
}

.card > h2{
    padding-top: 12px;
    text-align: center;
}